	<footer>
		<div class="small-print" style="background-color:transparent">
			<div class="container">
	    		<p style="color:White">
	    			Copyright &copy; 2016 Timothy Putra Pringgondhani
	    		</p>
	    	</div>
	    </div>
	</footer>